#rounded-image {
  background-color: red;
  width: 50px;
  /* height: 40px; */
  background: url(../IMG/chhingjang.jpg);
  background-size: cover;
  border-radius: 50%;
}
#btnSignupNow button:hover {
  background-color: rgb(59 130 246 / var(--tw-text-opacity, 1));
  border: none;
  color: white;
  transition: 0.8s;
}
